.about {
    height: 100vh; /* adjust this as needed */
    background: url(./images/stars.jpeg) no-repeat center center;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .content-box {
    color: white;
    background: rgba(128, 91, 91, 0.295);  /* semi-transparent white */
    backdrop-filter: blur(8px);  /* creates the blur effect */
    padding: 50px 200px 200px 200px;  /* top, right, bottom, left */
    border-radius: 100px;
    text-align: center;
    max-width: 80%; /* adjust as needed */
    margin: auto;
    align-items: flex-start;
  }